{% extends 'main/header.html' %}
{% load static %}
{% block title %}
О нас
{% endblock %}
{% block content %}
<div class="about">
    <h2>О нас</h2>
    <p>Добро пожаловать на Проверь ОСАГО, платформу, посвященную помочь вам найти лучшие предложения на ОСАГО страховые полисы от различных страховых компаний в России.</p>
</div>
<div class="about">
    <h2>Наша миссия</h2>
    <p>Наша миссия - предоставить прозраную и пользовательскую платформу для сравнения цен на ОСАГО страховые полисы, наделяя вас информацией для принятия обоснованных решений при выборе подходящей политики для ваших потребноствей.</p>
</div>
<div class="about">
    <h2>Как это работает</h2>
    <p>На веб-сайт агрегирует данные от множества страховых компаний, позволяя вам легко сравнивать цены и функции различных ОСАГО политик. Мы стремимся предоставить точную и актуальныю информацию, чтобы вы могли доверять нашей платформе в поиске лучшего варианта для вашег транспортного средства.</p>
</div>
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock %}