{% extends 'main/header.html' %}
{% load static %}
{% block title %}
Контакты
{% endblock %}
{% block content %}
<div class="contact-container">
    <h1>Свяжитесь с нами</h1>
    <p>Мы всегда рады помочь вам! Если у вас есть вопросы, комментарии или предложения, пожалуйста, не стесняйтесь обращаться к нам. Наша команда готова ответить на все ваши запросы и предоставить необходимую поддержку.</p>

    <h2>Контактная информация</h2>
    <ul>
        <li><strong>Телефон:</strong> +7 (927) 949-11-41</li>
        <li><strong>Email:</strong> nik04.2003@gmail.com</li>
        <li><strong>Адрес:</strong> г. Москва, улица Маршала Тухачевского, дом 18</li>
    </ul>

    <h2>Часы работы</h2>
    <p>Мы работаем для вас:</p>
    <ul>
        <li><strong>Ежедневно:</strong> 09:00 - 21:00</li>
    </ul>

    <h2>Как мы можем помочь?</h2>
    <p>Наша команда предоставляет широкий спектр услуг, включая:</p>
    <ol>
        <li>Консультации по продуктам и услугам</li>
        <li>Техническая поддержка и помощь в решении проблем</li>
        <li>Обработка заказов и вопросов о доставке</li>
        <li>Обратная связь и предложения по улучшению наших услуг</li>
    </ol>
</div>
<script src="{% static 'main/js/script.js' %}"></script>
{% endblock %}