<footer>
        <div class="leftfooter">
            <pre>© 2024, OOO «Проверь.ру».
г. Москва, улица Маршала Тухачевского дом 18.
            </pre>
            <pre>OOO «Проверь.ру» осуществляет деятельность в сфере IT: сервис предоставляет онлайн-услуги по подбору ОСАГО.</pre>
        </div>
        <div class="rightfooter">
            <p>Связь для клиентов</p>
            <p class="phone"><a href="tel:+79279491141">8 927 949 11 41</a></p>
            <p style="font-size: 12px;">Ежедневно с 9:00 до 21:00 по МСК</p>
            <p style="margin-top: 30px;">Ответим на ваши вопросы</p>
            <p class="mail"><a href="mailto:nik04.2003@gmail.com">nik04.2003@gmail.com</a></p>
        </div>
    </footer>

</body>
</html>