{% extends 'main/header.html' %}
{% load static %}
{% block title %}
Информация ОСАГО
{% endblock %}
{% block content %}
<div class="container1">
    <h1>Покупая страховой полис ОСАГО онлайн вы получаете:</h1>
    <ul>
        <li>🟩 Минимальная стоимость: <span class="highlight">от 2746 ₽</span></li>
        <li>🟩 Переплата за полис: <span class="highlight">0%</span></li>
        <li>🟩 Максимальная выплата: <span class="highlight">500 000 ₽</span></li>
        <li>🟩 Базовый тариф: <span class="highlight">1646 – 7535 ₽</span></li>
    </ul>

    <h2>Как рассчитать стоимость ОСАГО онлайн на калькуляторе</h2>
    <p>ОСАГО — это обязательное страхование автогражданской ответственности, т.е. это страховой полис авто, который можно оформить онлайн сравнив стоимость сразу во всех страховых компаниях. При любом дтп, этот полис покроет всем владельцам авто нанесенный ущерб, виновный в дтп не будет возмещать его из своего кармана.</p>

    <p>Чтобы узнать, сколько стоит страховка на машину в 2024 году онлайн, необходимо воспользоваться калькулятором ОСАГО, который рассчитает стоимость полиса онлайн на основе введенных данных о ТС и водителе. Стоимость полиса ОСАГО разная во всех страховых компаниях у каждого человека она своя и определяется по формуле:</p>

    <p><strong>Стоимость ОСАГО = ТБ * КТ * КБМ * КВС * КО * КМ * КС</strong>,</p>
    <p>где ТБ – базовый тариф, который устанавливается страховой компанией и может варьироваться от 1646 руб. до 7535 руб., остальные параметры описаны ниже.</p>

    <h2>Пример онлайн расчета страховки на машину</h2>
    <table>
        <tr>
            <th>Параметр</th>
            <th>Значение, руб.</th>
            <th>Описание</th>
        </tr>
        <tr>
            <td>Базовая ставка</td>
            <td>1646 – 7535</td>
            <td>Легковые автомобили («В», «ВЕ»)</td>
        </tr>
        <tr>
            <td>Территориальный коэффициент</td>
            <td>X1.9</td>
            <td>Москва</td>
        </tr>
        <tr>
            <td>Мощность двигателя</td>
            <td>X1.2</td>
            <td>От 101 до 120 л/с</td>
        </tr>
        <tr>
            <td>КБМ</td>
            <td>1,17</td>
            <td>Страхование впервые (класс 3, КБМ 1,17)</td>
        </tr>
        <tr>
            <td>Возраст и стаж водителей</td>
            <td>X0.96</td>
            <td></td>
        </tr>
        <tr>
            <td>Срок страхования</td>
            <td>X1</td>
            <td>1 год</td>
        </tr>
        <tr>
            <td>Водители</td>
            <td>X1</td>
            <td>Ограниченное количество водителей</td>
             </tr>
        <tr>
            <th colspan="2">Итого</th>
            <th>4 868 – 13 090</th>
        </tr>
    </table>

    <!-- Дополнительная информация -->
    <h2>Коэффициенты для расчета стоимости ОСАГО</h2>
    <p>Помимо базового тарифа, в формуле расчета стоимости страховки ОСАГО присутствуют:</p>

    <ul>
        <li><strong>КБМ – Коэффициент бонус-малус:</strong> зависящий от числа аварий за предыдущий страховой период. Максимальная скидка за безаварийное вождение может достигать до 54% от стоимости ОСАГО.</li>
        <li><strong>КВС – Возраст и стаж водителя:</strong> максимальный повышающий коэффициент для самых молодых водителей составляет КВС=2,45.</li>
        <li><strong>КО – Количество водителей:</strong> цена на ОСАГО зависит от числа указанных в полисе водителей.</li>
    </ul>

    <!-- Таблица с коэффициентами -->
    <h2>Коэффициенты мощности и срока страхования</h2>
    <table>
        <tr>
            <th>Срок страхования</th>
            <th>Мощность двигателя авто, л/с</th>
            <th>Коэффициент мощности</th>
        </tr>
        <tr><td>1 год</td><td>До 50</td><td>0.6</td></tr>
        <tr><td>9 месяцев</td><td>50 – 70</td><td>1</td></tr>
        <tr><td>6 месяцев</td><td>70 – 100</td><td>1.1</td></tr>
        <tr><td>3 месяца</td><td>100 – 120</td><td>1.2</td></tr>
        <tr><td>От 16 до 30 дней</td><td>120 – 150</td><td>1.4</td></tr>
        <tr><td>От 5 до 15 дней</td><td>Свыше 150</td><td>1.6</td></tr>
    </table>

    <!-- Заключение -->
    <h2>Территориальный коэффициент (КТ)</h2>
    <p><strong>КТ:</strong> показатель, который зависит от места регистрации собственника. Чем менее аварийным считается регион, тем ниже КТ и стоимость полиса.</p>

    <p><strong>Пример:</strong></p>
    <ul>
        <li>Москва - КТ=1.9;</li>
        <li>Область - КТ=1.63.</li>
    </ul>

    <!-- Новый раздел о базовых тарифах -->
    <h2>Список базовых тарифов ОСАГО в 2024 году:</h2>
    <ul>
        <li>Для категорий А и М (мотоциклы, мопеды) – от 324 до 2536 р.</li>
        <li>Для категорий В и ВЕ (не такси) – от 852 до 7535 р.</li>
        <li>Для категорий В и ВЕ (такси) – от 1490 до 15576 р.</li>
        <li>Для категорий С и СЕ (до 16 тонн) – от 1163 до 9934 р.</li>
        <li>Для категорий С и СЕ (больше 16 тонн) – от 1752 до 14957 р.</li>
        <li>Для категорий D и DE (до 16 мест) – от 1106 до 6823 р.</li>
        <li>Для категорий D и DE (больше 16 мест) – от 1382 до 8526 р.</li>
        <li>Для категорий D и DE (маршруток) – от 3053 до 9144 р.</li>
    </ul>

    <!-- Примеры стоимости полисов -->
    <h2>Примеры стоимости полисов ОСАГО:</h2>
    <p>Самый быстрый способ выбрать выгодную страховую компанию для покупки страхового полиса ОСАГО онлайн - сравнить стоимость во всех страховых в пару кликов. Примерные цифры расчета самых дешевых полисов ОСАГО для легковых автомобилей по новым правилам у ведущих автостраховщиков страны выглядит следующим образом (стоимость полиса может корректироваться, а потому требуют обязательного предварительного уточнения перед оформлением страховки):</p>

    <ul>
        <li>Tinkoff: от 3640 рублей;</li>
        <li>AльфаСтрахование: от 3777 рублей;</li>
        <li>Югория: от 3560 рублей;</li>
        <li>Абсолют: от 3055 рублей;</li>
        <li>ВСК: от 3706 рублей;</li>
        <li>Зетта: от 3700 рублей;</li>
        <li>Росгосстрах: от 4110 рублей;</li>
        <li>CОГАЗ: от 3912 рублей;</li>
        <li>Cогласие: от 3700 рублей;</li>
        <li>Iнгосстрах: от 3650 рублей;</li>
        <li>MАКС: от 3706 рублей;</li>
        <li>OCK: от 2800 рублей;</li>
        <li>Pенессанс: от 3800 рублей.</li>
    </ul>
</div>
<script src="{% static 'main/js/script.js'%}"></script>
{% endblock %}